@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Header css STARTS */
header{
    box-sizing: border-box;
    max-width: 100%;
}
#topbar{
    box-sizing: border-box;
    width: 100%;
    padding: 1% 8%;
    box-shadow: 0 2px 5px #ccc;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
#left-menu{                 /* left-menu*/
    display: flex;
    align-items: center;
}
#logo{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 16px;
}
#logo span{
    font-weight: 900;
}
.menu-items{
    margin-left: 32px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
#search-menu{               /* search-menu*/
    width: 100%;
    max-width: 400px;
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    padding: 10px 24px 8px 24px;
    border: 1px solid rgb(245, 242, 242);
    background-color: rgb(245, 242, 242);
}
#search-bar{
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(245, 242, 242);
    font-size: 14px;
}
#search-menu i{
    color: #999;
    font-size: 18px;
    margin-right: 12px;
}
#right-menu{                /* right-menu*/
    display: flex;
    align-items: center;
}
#cart-wrapper{          
    position: relative;
    margin-right: 32px;
}
#cart-count{
    width: 18px;
    height: 18px;
    font-size: 12px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    background-color: #009688;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -12px;
    right: -12px;
}
#cart-wrapper{
    font-size: 18px;
    cursor: pointer;
}
#right-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* Header css ENDS */

/* Main css STARTS */
main{
    width: 100%;
    box-sizing: border-box;
    margin-top: 85px;
    padding: 2% 8%;
}
#edyoda-projects-logo{
    width: 128px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
#items-section{
    width: 100%;
    box-sizing: border-box;
    min-height: 70vh;
}
#title{
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 48px;
}
#cards-wrapper{
    box-sizing: border-box;
    width: 100%;
    display: flex;
}
#cards-div{
    width: 50%;
    box-sizing: border-box;
    /* background-color: blue; */
}
#cards-div h3{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}
.item{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    background-color: white;
    max-width: 600px;
    padding: 16px;
    margin-bottom: 16px;
}
.item-image{ width: 80px;
    min-width: 80px;
    border-radius: 5px;
    margin-right: 16px; 
}
.item-desc{
    box-sizing: border-box;
    margin-left: 20px
}
.item-desc h4{
    font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
    font-size: 20px;
}
.item-desc p{
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
}
#amount-div{
    width: 50%;
    height: 240px;
    box-sizing: border-box;
    margin-top: 48px;
    margin-left: 3%;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 5px;
    padding: 16px;
}
.heading{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}
#total-amount{
    color: black;
    opacity: 0.8;
    font-size: 24px;
    font-weight: 800;
    margin-left: 4px;
}
#placeOrder-button{
    width: 100%;
    max-width: 200px;
    background-color: #009688;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    color: white;
    transition: all 200ms ease;
}
/* Main css ENDS */
/* Footer css STARTS */

footer{
    box-sizing: border-box;
    width: 100%;
    background-color: #1c1b1e;
    padding: 4% 8%;
}
#footer-div{
    width: 100%;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
}
.footer-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
}
#footer-div div{
    display: flex;
    flex-direction: column;
}
#footer-div div a{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
}
#footer-div div:first-of-type{
    padding-right: 60px;
}
#footer-div div{
    padding: 0px 60px;
}
/* Footer css ENDS */




















@media (max-width: 992px){
    #logo{
        font-size: 36px;
    }
    .menu-items{
        font-size: 18px;
    }
    #search-menu{          
        display: none;
    }
    main{
        padding: 2% 4%;
    }
    #edyoda-projects-logo{
        width: 114px;
    }
    #title{
        font-size: 36px;
    }
    #cards-wrapper{
        flex-direction: column-reverse;
    }
    #cards-div{
        width: 100%;
    }
    #cards-div h3{
        margin: 30px 0px;
    }
    .item{
        padding: 12px;
    }
    .item-desc h4{
        font-size: 18px;
    }
    #amount-div{
        width: 100%;
        height: 240px;
        margin-top: 0px;
        margin-left: 0%;
    }
    #placeOrder-button{
        max-width: 180px;
        margin-top: 24px;
    }
    footer{
        box-sizing: border-box;
        width: 100%;
        background-color: #1c1b1e;
        padding: 4% 0%;
    }
    #footer-div{
        width: 100%;
        display: block;
    }
    #footer-div div a{
        margin-top: 8px;
        letter-spacing: 0.5px;
        opacity: 0.7;
    }
    #footer-div div p{
        margin-bottom: 10px;
        margin-top: 40px;
    }
    #footer-div div:first-of-type{
        padding-right: 0px
    }
    #footer-div div{
        padding: 0px 40px;
    }
}
@media (max-width: 600px){
    body{
        width: 100%;
        box-sizing: border-box;
        /* background-color: coral; */
    }
#topbar{
    box-sizing: border-box;
    padding: 3% 4%;
    box-shadow: 0 2px 5px #ccc;
}
#left-menu{                
    display: flex;
    align-items: center;
}
#logo{
    font-size: 28px;
    margin-right: 10px;
}
#logo span{
    font-weight: 700;
}
.menu-items{
    display: none;
}
#search-menu{          
    display: none;
}
#cart-wrapper{
    font-size: 16px;
}
#right-logo{
    width: 40px;
    height: 40px;
}
main{
    padding: 2% 4%;
}
#edyoda-projects-logo{
    width: 114px;
}
#title{
    font-size: 30px;
}
#cards-wrapper{
    flex-direction: column-reverse;
}
#cards-div{
    width: 100%;
}
#cards-div h3{
    margin: 30px 0px;
}
.item{
    padding: 12px;
}
.item-desc h4{
    font-size: 18px;
}
#amount-div{
    width: 100%;
    height: 240px;
    margin-top: 0px;
    margin-left: 0%;
}
#placeOrder-button{
    max-width: 180px;
    margin-top: 24px;
}
footer{
    box-sizing: border-box;
    width: 100%;
    background-color: #1c1b1e;
    padding: 4% 0%;
}
#footer-div{
    width: 100%;
    display: block;
}
#footer-div div a{
    margin-top: 8px;
    letter-spacing: 0.5px;
    opacity: 0.7;
}
#footer-div div p{
    margin-bottom: 10px;
    margin-top: 40px;
}
#footer-div div:first-of-type{
    padding-right: 0px
}
#footer-div div{
    padding: 0px 40px;
}
}
